h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.btn-borrar,
.btn-borrar:hover {
    float: right;
    cursor: pointer;
    color:red;
    font-weight: bold;
}

.button-primary{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}